:host {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding-top: 60px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* כותרת */
h1 {
    color: #0a11e5;
    margin-bottom: 10px;
}

/* פורם */
form {
    background-color: rgba(69, 94, 209, 0.06);
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(4, 0, 246, 0.5);
    display: flex;
    flex-direction: column;
    width: 320px;
}