<header class="main-header">
<nav class="nav-buttons">


<!-- <h2 *ngIf="s.sighIn"> hello to: {{s.v.nameVisitors}}</h2> -->

<button routerLink="/home"  class="btn1">home</button>
<br><br>
<!-- <button *ngIf="sighIn "></button> -->
<!-- <button routerLink="/login" *ngIf="!sighIn">login</button> -->
 <!-- *ngIf="!sighIn" hidden else="sighIn" visible -->
<button *ngIf="!s.sighIn" routerLink="/login"  class="btn2">login</button>
<br><br>
<button *ngIf="s.sighIn" routerLink="/sigh-out" (click)="s.back()"  class="btn3">sigh out</button>
<!--  *ngIf="VisitorsService.sighIn"  -->
  <!-- *ngIf="sighIn" hidden else="!sighIn" visible -->
<br><br>
<button routerLink="/order-tickets"   class="btn4">order-tickets</button>
<br><br>
<button routerLink="/our-animals"  class="btn5">our-animals</button>
<br><br>
<button routerLink="/personal-area"  class="btn6">personal-area</button>

</nav>
</header>

<h2 class="greeting-box" *ngIf="s.sighIn">Hello, {{s.v.nameVisitors}}</h2>

<main class="main-content">
<router-outlet></router-outlet>
</main>

